<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends & Trendies</p>
    <a class="panel-block">
      TREnd is now to eat a tidepod
    </a>
    <a class="panel-block">
      Kanye West ate his kid. Kim is furious
    </a>
    <a class="panel-block">
      Semicolon renamed to comma-dot
    </a>
    <a class="panel-block">
      cloudy partialy semi-cloudy
    </a>
    <a class="panel-block">
      car does wrum-wrum
    </a>
  </nav>
</div>
